body.cke_show_borders,
body.mceContentBody {
  /* Reset font size. */
  font-size: 1em;

  /* Just in case the theme sets a background on the body tag. */
  background: none #fff;

  /* add a bit of spacing so we aren't right to the edge */
  margin: 10px;
}
